<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body> 
   
    <!-- <h1>List of Live Data</h1>

    <ul id="display-data">

    </ul> -->

    <h1>Submit Form</h1>
    <form id="post-form" method="POST">
        {% csrf_token %}
        <p>Name</p><input type="text" name="name" id="name"><br>
        <p>Email</p><input type="email" name="email" id="email"><br>
        <p>Bio</p><input type="text" name="bio" id="bio"><br>
        <input type="submit">
    </form>
    
    <!-- <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'getProfiles' %}",
                    success: function(response){
                        // console.log(response);
                        $("#display-data").empty();
                        for (var key in response.profiles) {
                            var temp="<li>"+response.profiles[key].name+"</li>";
                            $("#display-data").append(temp);
                        }
                    },
                    error: function(response){
                        alert("An error occurred");
                    },
                });
            }, 1000);
        });
    </script> -->

    <script>
        $('#post-form').submit(function(e){
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/create",
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    bio: $('#bio').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data) {
                    alert(data);
                }
            });
        });
    </script>
</body>
</html>